body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.box{
    padding: 1em;
    color: white;
    text-align: center;
}
.b1{background-color: #554309;}
.b2{background-color: #35b961;}
.b3{background-color: #ca7b31;}
.b4{background-color: #3b0a27;}
.b5{background-color: #137a64;}
.b6{background-color: #29742d;}
.b7{background-color: #1827b4;}
.b8{background-color: #97cf14;}
.b9{background-color: #eb1111;}
.b10{background-color: #50790e;}
.b11{background-color: #bd0e74;}
.b12{background-color: #42992d;}
.b13{background-color: #e02108;}
.b14{background-color: #15ca0f;}
.b15{background-color: #af70a5;}
.b16{background-color: #49d6b8;}
.b17{background-color: #9e1616;}
.b18{background-color: #9c6c59;}
.b19{background-color: #398527;}
.b20{background-color: #109781;}
.b21{background-color: #0ca1c7;}
.b22{background-color: #0eaf16;}
.b23{background-color: #ac108a;}
.b24{background-color: #eb0c0c;}
.b25{background-color: #10978c;}